/*change shop + collection pages styles on mobile --temporary--*/
@media screen and (max-width: 767px) {
    body.archive .container:first-of-type {
        padding-top: 40px !important;
    }

    body.archive .woocommerce-products-header__title.page-title {
        font-size: 25px;
    }
}

#footer-widgets .footer-widget li {
    font-weight: bold;
    text-transform: uppercase;
}

.stamped-badge {
    text-align: center;
}

.wbb_bundle_status .wbb_view_bundle button {
    color: #FFF !important;
}

#menu-item-902313 a {
    color: #B43A3E;
}

.woocommerce div.product form.cart .button {
    float: none;
}

.post-meta {
    display: none;
}

#customer_birthday {
    padding: 15px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #BBBABC;
}

.woocommerce-message a.button.wc-forward:hover {
    color: #6079E1;
}

.wbb_bundle_status .wbb_view_bundle button {
    color: #6079E1;
    font-size: 20px;
    font-weight: 500;
    padding: 0.3em 1em;
    line-height: 1.7em !important;
    /*background: transparent;*/
    background: #6079E1;
    position: relative;
    /*border: 2px solid;*/
    border-radius: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#menu-item-709443 a {
    color: #00c000;
    animation: 1.5s multicolor step-start infinite;
}

@keyframes multicolor {
    0% {
        color: #00c000;
    }

    33% {
        color: #CA280A;
    }

    66% {
        color: #00c000;
    }

    100% {
        color: #CA280A;
    }
}

.wlr-product-message {
    display: none !important;
}

.posted_in {
    display: none;
}

.entry-title {
    font-weight: 700;
}

#top-menu li a {
    font-weight: bold;
    text-transform: uppercase;
}

.footer-widget h4 {
    color: #000 !important;
    font-weight: bold !important;
}

.fwidget {
    margin-bottom: 25px !important;
}

.et_pb_wc_title h1 {
    font-weight: bold;
}

/*redesign amanita page price font-weight*/
.product-display span.woocommerce-Price-amount.amount {
    font-weight: 300 !important;
}

.textwidget p {
    color: #000;
    font-weight: bold;
    font-size: 15px !important;
}

.woocommerce-products-header__title,
.page-title {
    font-weight: bold !important;
    text-transform: uppercase !important;
}

#footer-widgets .footer-widget li:before {
    content: none;
}

#footer-widgets .footer-widget li {
    padding-left: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-weight: bold !important;
    text-align: center !important;
    font-size: 1.1em !important;
}

.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price del {
    font-weight: bold !important;
    font-size: 1.1em !important;
    text-align: center !important;
    color: #000 !important;
}

*/ #main-footer {
    background-color: #ffffff !important;
    color: #000 !important;
}

#main-footer:after {
    text-align: center !important;
    display: block;
    content: "The statements made regarding these products have not been evaluated by the Food and Drug Administration. The efficacy of these products has not been confirmed by FDA-approved research. These products are not intended to diagnose, treat, cure or prevent any disease. All information presented here is not meant as a substitute for or alternative to information from healthcare practitioners. Please consult your healthcare professional about potential interactions or other possible complications before using any product. The Federal Food, Drug, and Cosmetic Act requires this notice." !important;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

div#footer-bottom {
    display: none;
}

.et_search_form_container input {
    text-transform: uppercase;
    font-weight: 700;
}

ORDER RECEIVED PAGE .woocommerce-order-received .et_pb_wc_checkout_payment_info {
    background-color: white !important;
}

.woocommerce-order-received p.woocommerce-thankyou-order-received.woocommerce-notice--success,
.woocommerce-order-received h2.woocommerce-order-details__title,
.woocommerce-order-received .woocommerce-customer-details h2.woocommerce-column__title {
    font-family: 'fresno', sans-serif !important;
    font-size: 42px !important;
    line-height: 52px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2A3167;
}

.woocommerce-order-received p.woocommerce-thankyou-order-received.woocommerce-notice--success {
    text-align: center;
}

.woocommerce-order-received .woocommerce-thankyou-order-details.order_details {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.woocommerce-order-received .woocommerce-thankyou-order-details.order_details li,
.woocommerce-order-received table.woocommerce-table--order-details thead th,
.woocommerce-order-received table.woocommerce-table--order-details tfoot th,
.woocommerce-order-received table.woocommerce-table--custom-fields th {
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2A3167;
}

.woocommerce-order-received .woocommerce-thankyou-order-details.order_details li {
    text-align: center;
}

.woocommerce-order-received .woocommerce-thankyou-order-details.order_details strong {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 18px !important;
    letter-spacing: normal !important;
    color: #2A3167;
}

.woocommerce-order-received .et_pb_row.et_pb_row_1,
.woocommerce-order-received .et_pb_row.et_pb_row_2,
.woocommerce-order-received .et_pb_row.et_pb_row_3 {
    display: none !important;
}

.woocommerce-order-received .woocommerce-table__line-item.order_item,
.woocommerce-order-received .woocommerce-table__line-item.order_item .woocommerce-Price-amount.amount,
.woocommerce-order-received table.woocommerce-table--order-details tfoot td,
.woocommerce-order-received table.woocommerce-table--custom-fields td,
.woocommerce-order-received .woocommerce-customer-details address {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #2A3167;
}

.woocommerce-order-received table.woocommerce-table--order-details tfoot tr:last-of-type span.woocommerce-Price-amount.amount {
    font-family: 'fresno', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400 !important;
}

.woocommerce-order-received table.woocommerce-table--order-details,
.woocommerce-order-received .woocommerce-column address {
    margin-top: 15px;
}

.woocommerce-order-received .woocommerce-columns.woocommerce-columns--addresses {
    margin-top: 50px !important;
}

.woocommerce-order-received table.woocommerce-table--custom-fields td,
.woocommerce-order-received table.woocommerce-table--custom-fields th,
.woocommerce-order-received .woocommerce-table--order-details th,
.woocommerce-order-received .woocommerce-table--order-details td {
    width: 50%;
}

@media screen and (max-width: 767px) {

    .woocommerce-order-received .woocommerce-thankyou-order-details.order_details {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
        padding-left: 0;
        margin: 40px auto 20px auto;
    }

    .woocommerce-order-received .woocommerce-thankyou-order-details.order_details li {
        flex: 1 0 250px;
        padding: 0;
        margin: 0;
    }

    .woocommerce-order-received .woocommerce-thankyou-order-details.order_details li.date {
        border: none;
    }

    .woocommerce-order-received .woocommerce-columns.woocommerce-columns--addresses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
        margin-top: 0 !important;
    }

    .woocommerce-order-received .et_pb_section,
    .woocommerce-order-received .et_pb_row:last-of-type {
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width: 570px) {
    .woocommerce-order-received .woocommerce-thankyou-order-details.order_details li {
        border: none;
    }
}

:root {
    /* redesign carousel arrows blue */
    --carouselArrowPrevBlue: url("data:image/svg+xml,%3Csvg width='68' height='28' viewBox='0 0 68 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.645649 14.7843L13.4974 27.636C13.8541 27.9923 14.4323 27.9919 14.7886 27.6351C15.145 27.2783 15.1446 26.7002 14.7878 26.3438L3.49231 15.0483L66.993 15.0478C67.2347 15.0481 67.4666 14.952 67.6372 14.7808C67.9913 14.4256 67.9904 13.8505 67.6352 13.4964C67.4652 13.3255 67.2341 13.2294 66.993 13.2294L25.2421 13.2297L3.4913 13.2299L14.7883 1.93294C15.1446 1.57638 15.1443 0.998416 14.7878 0.642145C14.4312 0.285874 13.8528 0.285585 13.4965 0.642145L0.645146 13.4935C0.288873 13.85 0.28909 14.428 0.645649 14.7843Z' fill='%232A3167'/%3E%3C/svg%3E");

    --carouselArrowNextBlue: url("data:image/svg+xml,%3Csvg width='68' height='28' viewBox='0 0 68 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.6328 13.494L54.7811 0.642342C54.4243 0.285998 53.8461 0.286429 53.4898 0.643205C53.1334 0.999981 53.1338 1.57816 53.4906 1.9345L64.7861 13.23L1.28544 13.2305C1.04375 13.2302 0.811846 13.3263 0.641227 13.4975C0.287113 13.8528 0.287975 14.4278 0.64324 14.7819C0.813211 14.9529 1.04433 15.0489 1.28544 15.0489L43.0363 15.0486L64.7871 15.0484L53.4901 26.3454C53.1338 26.7019 53.1341 27.2799 53.4906 27.6362C53.8472 27.9924 54.4256 27.9927 54.7819 27.6362L67.6333 14.7848C67.9895 14.4283 67.9893 13.8503 67.6328 13.494Z' fill='%232A3167'/%3E%3C/svg%3E%0A");

    /* redesign carousel arrows white */
    --carouselArrowPrevWhite: url("data:image/svg+xml,%3Csvg width='68' height='28' viewBox='0 0 68 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.645649 14.7843L13.4974 27.636C13.8541 27.9923 14.4323 27.9919 14.7886 27.6351C15.145 27.2783 15.1446 26.7002 14.7878 26.3438L3.49231 15.0483L66.993 15.0478C67.2347 15.0481 67.4666 14.952 67.6372 14.7808C67.9913 14.4256 67.9904 13.8505 67.6352 13.4964C67.4652 13.3255 67.2341 13.2294 66.993 13.2294L25.2421 13.2297L3.4913 13.2299L14.7883 1.93294C15.1446 1.57638 15.1443 0.998416 14.7878 0.642145C14.4312 0.285874 13.8528 0.285585 13.4965 0.642145L0.645146 13.4935C0.288873 13.85 0.28909 14.428 0.645649 14.7843Z' fill='%23FFFFFF'/%3E%3C/svg%3E");

    --carouselArrowNextWhite: url("data:image/svg+xml,%3Csvg width='68' height='28' viewBox='0 0 68 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.6328 13.494L54.7811 0.642342C54.4243 0.285998 53.8461 0.286429 53.4898 0.643205C53.1334 0.999981 53.1338 1.57816 53.4906 1.9345L64.7861 13.23L1.28544 13.2305C1.04375 13.2302 0.811846 13.3263 0.641227 13.4975C0.287113 13.8528 0.287975 14.4278 0.64324 14.7819C0.813211 14.9529 1.04433 15.0489 1.28544 15.0489L43.0363 15.0486L64.7871 15.0484L53.4901 26.3454C53.1338 26.7019 53.1341 27.2799 53.4906 27.6362C53.8472 27.9924 54.4256 27.9927 54.7819 27.6362L67.6333 14.7848C67.9895 14.4283 67.9893 13.8503 67.6328 13.494Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");

    /* star icons for stamped badge */
    --starIconFull: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99994 0.974121L11.8525 9.12145L19.9999 10.9741L11.8525 12.8267L9.99994 20.974L8.14733 12.8267L0 10.9741L8.14733 9.12145L9.99994 0.974121Z' fill='%237E52BF'/%3E%3C/svg%3E%0A");

    --starIconFullGrey: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99994 0.974121L11.8525 9.12145L19.9999 10.9741L11.8525 12.8267L9.99994 20.974L8.14733 12.8267L0 10.9741L8.14733 9.12145L9.99994 0.974121Z' fill='%23AAAAAA'/%3E%3C/svg%3E%0A");

    --starIconHalf: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M10.1476 3.22913L11.5127 9.23232L11.5825 9.53922L11.8894 9.60901L17.8926 10.9741L11.8894 12.3391L11.5825 12.4089L11.5127 12.7158L10.1476 18.719L8.78259 12.7158L8.7128 12.4089L8.4059 12.3391L2.40272 10.9741L8.4059 9.60901L8.7128 9.53922L8.78259 9.23232L10.1476 3.22913Z' fill='url(%23paint0_linear_9690_3350)' stroke='%237E52BF'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_9690_3350' x1='-1.3125' y1='11' x2='21.6875' y2='11' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.5' stop-color='%237E52BF'/%3E%3Cstop offset='0.5001' stop-color='%23D9D9D9' stop-opacity='0'/%3E%3Cstop offset='0.5002' stop-color='%23D9D9D9' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

    --starIconEmpty: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.365 9.23232L11.4348 9.53922L11.7417 9.60901L17.7449 10.9741L11.7417 12.3391L11.4348 12.4089L11.365 12.7158L9.99994 18.719L8.63489 12.7158L8.5651 12.4089L8.2582 12.3391L2.25501 10.9741L8.2582 9.60901L8.5651 9.53922L8.63489 9.23232L9.99994 3.22913L11.365 9.23232Z' stroke='%237E52BF'/%3E%3C/svg%3E");
}

@media screen and (max-width: 600px) {
    #main-footer:after {
        max-width: 320px;
        font-size: 11px;
    }

    .et-search-form {
        right: -20px;
    }

    .et_search_outer .container {
        width: 100%;
    }

    #main-header .container {
        width: 95%;
    }

    #newton-field-email {
        width: 100% !important;
    }
}

span.stamped-product-reviews-badge.stamped-main-badge {
    display: none;
}

button.wbb_remove_product {
    color: white !important;
}

button.wbb_add_to_box {
    color: white !important;
}

.wbb_add_to_cart {
    margin-bottom: 5px;
}

#cart_empty_btn {
    background: #c48c86;
    color: #ffffff;
    border-radius: 6px;
    height: 50px;
    width: 155px;
    border: none;
}

.onsale {
    display: none;
}

@media screen and (min-width: 600px) {
    #cart_empty_btn {
        font-size: 19px;
    }
}

/*added to cart popup styles*/
button.added .xoo-cp-added,
a.added_to_cart {
    display: none !important;
}

.xoo-cp-container {
    max-width: 1290px;
    padding: 30px;
    font-family: 'Saira', sans-serif;
}

span.xoo-cp-close {
    color: #233754;
}

td.xoo-cp-ptitle a,
td.xoo-cp-pprice bdi {
    color: #233754;
    font-size: 35px;
    font-family: 'fresno', sans-serif;
    font-weight: 400 !important;
}

td.xoo-cp-ptitle a p {
    display: none !important;
}

span.xcp-ptotal {
    font-size: 28px;
    font-weight: 700;
    color: #233754;
}

.xoo-cp-qtybox {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 100px;
    height: auto;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #4BBEFE 11.8%, #4364DA 55.86%, #5A3BA4 97.39%) border-box !important;
}

.xoo-cp-qtybox span.xcp-plus,
.xoo-cp-qtybox span.xcp-minus {
    border: none !important;
    font-size: 25px;
    color: #233754;
}

input[type=number].xoo-cp-qty {
    font-size: 20px;
    font-weight: bold;
}

.xoo-cp-ptotal .xcp-totxt {
    color: #233754;
}

.xoo-cp-btns {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.xoo-cp-btns a.xcp-btn {
    color: #ffffff !important;
    border-color: RGBA(255, 255, 255, 0);
    border-radius: 100px;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Saira', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(90deg, #5a3ba4 0%, #4364da 57%, #4bbefe 90%) !important;
    padding: 12px 0;
    box-shadow: 0px 29.999998092651367px 29.999998092651367px 0px rgba(0, 0, 0, 0.10);
    border: none !important;
    transition: transform .2s ease;
}

.xoo-cp-btns a.xcp-btn:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 980px) {
    table.xoo-cp-pdetails {
        display: flex;
        justify-content: center;
    }

    table.xoo-cp-pdetails tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }

    table.xoo-cp-pdetails tr td {
        width: 100%;
    }

    .xoo-cp-atcn {
        text-align: center;
    }

    td.xoo-cp-remove {
        width: 100% !important;
        order: 4;
    }

    td.xoo-cp-remove .xoo-cp-remove-pd {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-decoration: underline;
        font-family: 'Saira', sans-serif !important;
    }

    td.xoo-cp-remove .xoo-cp-icon-cross::before {
        content: "Remove Item" !important;
    }

    td.xoo-cp-pimg {
        order: 1;
    }

    td.xoo-cp-pimg img {
        max-width: 200px;
    }

    .xoo-cp-pdetails td.xoo-cp-ptitle {
        order: 2;
        text-align: center !important;
    }

    td.xoo-cp-pprice {
        order: 3;
    }

    td.xoo-cp-pqty {
        order: 5;
    }

    .xoo-cp-qtybox {
        width: 50%;
        margin: 20px auto 0 auto;
    }

    .xoo-cp-ptotal {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px auto;
    }

    .xoo-cp-btns a.xcp-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .xoo-cp-container {
        padding: 10px 15px;
    }

    .xoo-cp-atcn {
        padding: 5px 0;
    }

    .xoo-cp-ptotal {
        margin: 30px auto 15px auto;
    }

    td.xoo-cp-ptitle a,
    td.xoo-cp-pprice bdi {
        font-size: 30px;
    }

    .xoo-cp-qtybox {
        width: 40%;
        padding: 8px 0;
    }

    .xoo-cp-btns {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .xoo-cp-btns a.xcp-btn {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    td.xoo-cp-pimg {
        display: block !important;
    }

    td.xoo-cp-pimg img {
        max-width: 100px;
    }

    .xoo-cp-btns a.xcp-btn {
        width: 100%;
    }
}